*{
    margin:0px;
}
h1.heading{
    font-size: "8px";
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: blue;
    
}
.banner{
    <img src: https://www.karunya.edu/img/general/aerial-view.jpg.pagespeed.ce.4_-R-b0nuM.jpg;>
}